body 
{
	overflow-x: auto;
	overflow-y: auto;
    background-image: url("./content/assets/main/background.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
	background-color: #3A3A40;
	font-family: "JetBrains Mono", monospace;
    font-size: 1.5vw;
	color: #ffffff;
}

a
{
	color: #ffffff;
	text-decoration: none;
}

#container
{
	position: relative;
	margin: auto auto;
	width: 90%;
}

#title
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 32px;
    font-weight: bold;
}

#description
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 24px;
    font-weight: bold;
}

.blog
{
    position: relative;
    width: max-content;
	height: max-content;
    font-size: 24px;
}

.date
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link:hover
{
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

@media screen and (max-width: 1000px)
{
    #title
    {
        font-size: 24px;
    }

    #description
    {
        font-size: 16px;
    }

    .blog
    {
        width: 90%;
        font-size: 16px;
    }
}