body 
{
	overflow-x: auto;
	overflow-y: auto;
    background-image: url("./content/assets/main/background.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
	background-color: #36393f;
    font-family: "JetBrains Mono", monospace;
    color: #000000;
}

a
{
    color: #000000;
    text-decoration-color: #89b4fa;
}

.content
{
    padding-left: 50px;
    padding-right: 50px;
}

.title
{
    font-size: 32px;
    font-weight: bold;
}

.description
{
    font-size: 24px;
    font-weight: bold;
}

.blog
{
    font-size: 24px;
}

/*Source: https://loading.io/css */
.lds-grid 
{
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-grid div 
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #cef;
	animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) 
{
	top: 8px;
	left: 8px;
	animation-delay: 0s;
}
  
.lds-grid div:nth-child(2) 
{
	top: 8px;
	left: 32px;
	animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) 
{
	top: 8px;
	left: 56px;
	animation-delay: -0.8s;
}
  
.lds-grid div:nth-child(4) 
{
	top: 32px;
	left: 8px;
	animation-delay: -0.4s;
}
  
.lds-grid div:nth-child(5) 
{
	top: 32px;
	left: 32px;
	animation-delay: -0.8s;
}
  
.lds-grid div:nth-child(6) 
{
	top: 32px;
	left: 56px;
	animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) 
{
	top: 56px;
	left: 8px;
	animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) 
{
	top: 56px;
	left: 32px;
	animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) 
{
	top: 56px;
	left: 56px;
	animation-delay: -1.6s;
}

@keyframes lds-grid 
{
	0%, 100% 
	{
	 	opacity: 1;
	}
	50% 
	{
	  	opacity: 0.5;
	}
}

@media screen and (max-width: 1000px)
{
    .content
    {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 16px;
    }

    .title
    {
        font-size: 24px;
    }

    .description
    {
        font-size: 16px;
    }

    .blog
    {
        font-size: 16px;
    }
}